<% if can? :index, @order.shipments %>
  <% if @order.completed? %>
    <li<%= ' class="active"' if current == 'Shipments' %>>
      <%= link_to_with_icon 'icon-share-alt', Spree.t(:shipments), admin_order_shipments_path(@order) %>
    </li>
  <% end %>
<% end %>
